<div class="container text-center">
<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field col-md-12">
    <p class="col-md-6"><%= f.label :firstname %></p>
    <p class="col-md-6"><%= f.text_field :firstname %></p>
  </div>
 
  <div class="field col-md-12">
    <p class="col-md-6"><%= f.label :lastname %></p>
    <p class="col-md-6"><%= f.text_field :lastname %></p>
  </div>

  <div class="field col-md-12">
    <p class="col-md-6"><%= f.label :email %></p>
    <p class="col-md-6"><%= f.email_field :email, autofocus: true %></p>
  </div>

  <div class="field col-md-12">
    <p class="col-md-6"><%= f.label :password %></p>
    <p class="col-md-6"><% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
   <%= f.password_field :password, autocomplete: "off" %></p>
  </div>

  <div class="field col-md-12">
    <p class="col-md-6"><%= f.label :password_confirmation %></p>
    <p class="col-md-6"><%= f.password_field :password_confirmation, autocomplete: "off" %></p>
  </div>

  <div class="field col-md-12">
    <p class="col-md-6"><%= f.label :country %></p>
    <p class="col-md-6"><%= f.country_select :country %></p>
  </div>
  
  <div class="field col-md-12">
    <p class="col-md-6"><%= f.label :language %></p>
    <p class="col-md-6"><%= f.select :language,User::ALLOWED_LANGUAGES, multiple: true%></p>
  </div>

  <div class="field col-md-12">
    <p class="col-md-6"><%= f.label :date_of_birth %></p>
    <p class="col-md-6"><%= f.date_select :date_of_birth,end_year: 1950, start_year: (Time.now.year)  %></p>
  </div>
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>

</div>
