<% if @user.present? %>
	<h2>Search Result</h2>
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-8">
				 <h4> Profile of <%= @user.firstname %></h4>
				<div class="col-md-8 offset-4">
					<p class="col-md-6 text-left">Pic:</p>
					<p class="col-md-6 text-left"><%#= image_tag @user.image_url.to_s if @user.image_url.present? %></p>
				</div>
					
				<div class="col-md-8 offset-4">
					<p class="col-md-6 text-left">Firstname:</p>
					<p class="col-md-6 text-left"><%= @user.firstname %></p>
				</div>
			
				<div class="col-md-8 offset-4">
					<p class="col-md-6 text-left">Lastname:</p>
					<p class="col-md-6 text-left"><%= @user.lastname %></p>
				</div>

				<div class="col-md-8 offset-4">
							<p class="col-md-6 text-left">Country:</p>
							<p class="col-md-6 text-left"><%= @user.country %></p>
				</div>

				<div class="col-md-8 offset-4">
							<p class="col-md-6 text-left">language:</p>
							<p class="col-md-6 text-left"><%= @user.language %></p>
				</div>

				<div class="col-md-8 offset-4">
							<p class="col-md-6 text-left">Email:</p>
							<p class="col-md-6 text-left"><%= @user.email %></p>
				</div>

				<div class="col-md-8 offset-4">
							<p class="col-md-6 text-left">Birth date:</p>
							<p class="col-md-6 text-left"><%#= @user.birth_date %></p>
				</div>

        <%- if current_user.friends.exists?(@user.id)  %>
					<%= link_to 'Unfriend', friendship_path(@user),
			            data: {:confirm => 'Are you sure?'}, :method => :delete %>
			           
				<% else %>
					<button><%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
					</button>
				<% end %>

			</div>
		</div>
	</div>
	
<% else %>

	<h2>No matches</h2>

<% end %>

