<div class="col-md-12">
	<div class="col-md-5"><h3>Facebook Friends</h3>
	<% if current_user.oauth_token.present? %>
		<%= link_to 'Invite fb friends',facebook_profile_path, :method => :get, :id => "invite_fb_friends", :class => "btn btn-primary btn-sm space" %>
		<% else %>
		<%= link_to "Sign up by facebook",user_facebook_omniauth_authorize_path,:method => :get, :class => "btn btn-primary btn-sm space" %>
		<% end %>
	</div>

	<div class="col-md-4">				 
		<h3>Your Friends</h3>
		<% if current_user.all_friends.each do |friend| %>
			<% friendship = current_user.get_mutual_friendship_with(friend) %>
			<% friendship = current_user.get_mutual_friendship_with(friend) %>
				<% if friendship.accepted? %>
					<table>
						<tr>
							<td><%=h friend.email %></td>
							<td><%= link_to "Unfriend", friendship_path(friendship), :method => :delete,:class => "btn btn-primary btn-sm space" %></td>
						</tr>
					</table>
				<% end %>
		<% end %>
		<% end %>
		<%= link_to 'View Requests', friendship_path(current_user) %>
	</div>
	
	<div class="col-md-3">
		<h3>Search Friends by email</h3>
		<%= form_tag search_users_path, :method => "get" do %>
			<%= text_field_tag :search, params[:search], data: {autocomplete_source: User.order(:email).map(&:email)} %>
			<%= submit_tag "Search" %>
		<% end %>
	</div>
</div>



