<%#= send request by me%>

<h2>Sent Friend Requests</h2>
<ul>
  <% current_user.friendships.pending.each do |friendship| %>
     <li>
      <%=h friendship.friend.email %>
      
      <button><%= link_to "Cancel sent Request", friendship, :method => :delete %></button>
    </li>
  <% end %>
</ul>
<p><%= link_to "Find Friends", users_path %></p>




<h2>View Friend requests</h2>
<ul>
  <% current_user.inverse_friendships.pending.each do |friendship| %>
    <li><%=h friendship.user.email %>
     <button><%= link_to "Accept", friendship_path(friendship, status: 'accept'), method:"put" %></button>
     <button><%= link_to "Ignore", friendship_path(friendship, status: 'ignore'), method:"put"%></button></li>
  <% end %>
</ul>
