<div class="container">
  <h1>Update your Post</h1>
  <%= form_for(@post, url: post_path(@post), html: { method: :put }) do |f| %>
    <div class="col-md-6 text-left">
      <div class="col-md-6">
        <%= f.label :Content %><br />
        <%= f.text_field :content, autofocus: true %>
      </div>

      <div class="col-md-6">
        <%= f.label :image %><br>
        <%= f.file_field :image, autofocus: true %>
      </div>

      <div class="col-md-12 post-content">
        <%= f.label :privacy_type%> 
        <%= f.select :privacy_type, Post.privacy_types, autofocus: true %>
      </div>

      <div class="col-md-12 post-content">
        <%= f.submit "Update" %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Back", :back %>
